.options {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.item {
    height: 50px;
    width: 50px;
    margin: 20px;
    opacity: 0.6;
    border-radius: 50%;
    flex-shrink: 0;
    border: 2px solid white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  

    transform: scale(1.0);
    transition: transform 0.3s 0s ease-in-out;
}

.item:hover {
    cursor: pointer;
}

.item.active {
    opacity: 1.0;
    transform: scale(1.5);
}

.options.hide {
    display: none;
}

@media (max-width: 768px) {
    .options {
        top: 10%;
        left: 50%; 
        flex-flow: row nowrap;  
    }
    .item {
        height: 30px;
        width: 30px;
        margin: 10px;
        border: 1px solid white;
    }
}
