.outline {
	position: absolute;
	top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
}

.outline.hide {
    display: none;
}
